INFLUXDB_USERNAME="dein Benutzername"
INFLUXDB_PASSWORD="dein Passwort"

# Diese Werte müssen unverändert bleiben, damit InfluxDB, Grafana und das Dashboard zusammenpassen.
INFLUXDB_ORG=TEKO
INFLUXDB_BUCKET=sensor_data
INFLUXDB_ADMIN_TOKEN=teko-database-design-token

GRAFANA_USERNAME="dein Benutzername"
GRAFANA_PASSWORD="dein Passwort"